/* RESETS */
ul{
    list-style-type: none;
    padding: 0;
}

button{
    border-radius: 10px;
    border:none;
    padding:5px;

}
html, body{
    background:green;
    height:100%;
    position:relative;
    background:#E9E9E9;
}

 #clear-btn{
    width:fit-content;
 }

 *{
    font-family: 'Kanit', monospace;
  /* font-weight:800; */
    margin:0;
 }
 main{
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    padding:3%;
    max-width:70%;
    max-height:480px;
    margin:auto;
    border-radius:50px;
    background:#FAFAFA;
    z-index:1;
    overflow: hidden;
    border:10px solid #FAFAFA;
 }


/* GENERAL */
.flex-column{
    display: flex;
    flex-direction: column;
}
.flex-row{
    display: flex;
    flex-direction: row;
}

.flex-one{
    flex:1;
    display:flex;

}
.flex{
    display:flex;
}

.justify-between{
    justify-content:space-between;
}
.justify-center{

}
.align-items-center{
    align-items:center;
}

/* HEADER */
.current-city{
    font-size:75px;
}
header h1{
    width:100%;
    padding-left:50px;
    color:#111;
}
header{
    /* margin-bottom:20px; */
    background-color: #E9E9E9;
    position:absolute;
    top:0;
    left:0;
    right:0;
    z-index:-1;
    
    /* display:none; */
}

/* SEARCH SECTION */

.search{
    padding-right:20px;
    padding-top:40px;
    width: 200px;

}
.search button{
    margin-top:10px;
    width:100%;

}

.search-box button{
    background-color: darkgoldenrod;
    color:white;
        /* width: 200px; */
}
.search-box{
    padding-bottom:20px;
    margin-bottom:20px;
    border-bottom:1px solid black;
    /* padding-right:10px; */
    width: 200px;
}
.search-box h3{
    margin-bottom:10px;
}



 #names-container::-webkit-scrollbar{
width:10px;
padding-left:20px;
 }
 #names-container::-webkit-scrollbar-thumb {
background:#E9E9E9;
border-radius:5px;
 } #names-container::-webkit-scrollbar-track {
    /* background: lightgray;  */
 }
 #names-container{
    overflow:auto;
    height:290px;
    scrollbar-width: thin;
    scrollbar-color: blue lightgray;
 }
/* FORECAST SECTION */
.one-day-box{
/* background-color: red; */
margin:20px 10px 0;
padding:10px 10px 0;
/* border:4px solid blue; */
}
.forecast{
    flex:1;
}

.five-day li{
    font-size:18px;
}

.five-day-box{
    margin:20px;
    justify-content: space-between;
}
.five-day{
    border:1px solid black;
    margin:10px;
    width:500px;
    padding:10px;
    position:relative;
    opacity: .8;
/
}
.five-day h2, .one-day h2{
    font-size:50px;
}

.date{
transform:translateY(-6px);
width:100px;}
.five-day .day{
    font-size:25px;
    display: flex;
    justify-content: flex-end;
}
.five-day .smaller-date{
padding-top:0px;
font-size:16px;
text-align:right;
}


/* .weather-icon{
    font-size: .6em;
opacity: 0.8;
position: absolute;
top: 0;
left: 0;
right: 0;
bottom: 0;
z-index: -2;
opacity: 0.7;
} */

.one-day{
    position:relative;
    border:1px solid black;
    padding:20px;
}
.bgcolor{
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    z-index:-2;
    /* width: 250px; */
    opacity: 0.5;
}
.one-day-icon{
    position:absolute;
    left:0;
    right:0;
    top:0;
    bottom:0;
    z-index:-1;
    /* top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
    /* margin:auto 0 auto; */
    margin-right:0;
    margin-left:auto;
    opacity: 0.7;
    filter:blur(5px);
    width:400px;
    height:400px;
    transform:translateY(-75px);
    display:none;
}


.one-day h2, .five-day h2{
    display:flex;
    flex-direction:row;
    align-items: center;
    width:100%;
    height:54px;
}
.five-day h2 > div {
    width:100%
}
.five-day div {
    height:54px;
}
.one-day h2 ul, .five-day h2 ul{
    height:100%;
}
.one-day h2 li, .five-day h2 li{
    padding-left:6px;
    list-style-type:none;
    font-size:16px;
    width:fit-content;
}
.one-day h2 li:nth-child(2), .five-day h2 li:nth-child(2){
    transform: translateY(2px);
}
.five-day p{
    font-size:16px;
    padding-left:5px;
}
.five-day h3{
    font-size:40px;
    padding-left:5px;
}


.symbol{
    font-size:.8em;
}

.humidity-icon, .wind-icon{
    width: 20px;  
    height: 20px; 
    background-size: cover; 
    z-index:100;
    padding-left:4px;
}
.icon{
    /* position:absolute; */
    /* left:0;
    right:0;
    top:0;
    bottom:0; */
    z-index:1;
    /* top: 50%; */
    /* left: 60%; */
    transform: translate(0%, -25%);
    margin:auto;
    width: 100px;
    opacity: 0.9;
    /* filter:blur(5px); */
    /* display:none; */

}
